$icon-font-path: '../fonts/';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    background-color: red;
}

.number {
    color: #ffffff;
    font-size: 5rem;
}
